<!DOCTYPE html>
<html lang="en">
<head>
  <title>Places</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

{{> navbar}}

<div class="jumbotron text-center">
  <h1>Welcome to Places</h1>
  <p>For testing Google Places API</p>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>Getting Started</h3>
      <p>Click on Search at the top of this page</p>
    </div>
    <div class="col-sm-4">
      <h3>Node.js Express</h3>
      <p>Backend built using node.js, server runs express.js</p>
      <p>and MongoDB for database</p>
    </div>
    <div class="col-sm-4">
      <h3>Front end hbs.js</h3>
      <p>Front end built using handlebars.js</p>
    </div>
  </div>
</div>

</body>
</html>
